<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <header>
            <p><b>¿Hay vida en otros planetas? - Sistemas solares </b> </p>
        </header>
        <section class="sectionHome">
            @RenderBody()
        </section>

        <aside class="asideHome">
            <div>
                <ul>
                    <li><a href="/Home/Index">Contenido Relacionado</a></li>
                    <li><a href="/Home/Cosmos">Cosmo</a></li>
                </ul>
            </div>
        </aside>

        <div class="clearfix"></div>

        <footer>
            <p> <u>¿Hay vida en otros planetas? - 2020</u></p>
        </footer>
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
